<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tuna.alexlgs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Alex LGS Koçu</name>
    <description>Tuna için özel LGS 2026 hazırlık sistemi</description>
    <author email="tuna@alexlgs.com" href="">Alex AI Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^3.0.0" />
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-splashscreen" spec="^6.0.0" />
</widget>